.book-room-page {
  grid-area: 1/3/3/7;
  background: $pink;
  border-radius: 5px;
  text-align: center;
  overflow-y: scroll;
}

.available-rooms {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
