body {
  background: $black;
  height: 100vh;
  font-family: 'Akaya Telivigala';
  display: grid;
  grid-template: .2fr .1fr 1fr 1fr .1fr / repeat(5, 20%);
}

header {
  grid-column: 1 / 6;
  background: $blue;
  border-radius: 5px;
  display: grid;
  grid-template: repeat(3, .5fr) / repeat(5, 20%)
}

main {
  grid-area: 2/1/4/6;
  background: $black;
}
