body {
  background: $black;
  height: 100vh;
  font-family: 'Akaya Telivigala';
  display: grid;
  grid-template: .2fr .1fr 1fr 1fr .1fr / 1fr .1fr 1fr 1fr .1fr 1fr;
}

header {
  grid-column: 1 / 7;
  background: $blue;
  border-radius: 5px;
  display: grid;
  grid-template: repeat(3, .5fr) / 1fr .5fr 3fr .5fr 1fr
}

main {
  grid-area: 3/1/5/7;
  display: grid;
  grid-template: 1fr 1fr / 1fr .1fr 1fr 1fr .1fr 1fr;
  background: $black;
}

li {
  list-style-type: none;
}
